
$google-red-50:  #FFEBEE;
$google-red-100: #FFCDD2;
$google-red-200: #EF9A9A;
$google-red-300: #E57373;
$google-red-400: #EF5350;
$google-red-500: #F44336;
$google-red-600: #E53935;
$google-red-700: #D32F2F;
$google-red-800: #C62828;
$google-red-900: #B71C1C;
$google-red-a100: #FF8A80;
$google-red-a200: #FF5252;
$google-red-a400: #FF1744;
$google-red-a700: #D50000;
$google-red: $google-red-500;

$google-blue-50: #E3F2FD;
$google-blue-100: #BBDEFB;
$google-blue-200: #90CAF9;
$google-blue-300: #64B5F6;
$google-blue-400: #42A5F5;
$google-blue-500: #2196F3;
$google-blue-600: #1E88E5;
$google-blue-700: #1976D2;
$google-blue-800: #1565C0;
$google-blue-900: #0D47A1;
$google-blue-a100: #82B1FF;
$google-blue-a200: #448AFF;
$google-blue-a400: #2979FF;
$google-blue-a700: #2962FF;
$google-blue: $google-blue-500;

$google-amber-50: #FFF8E1;
$google-amber-100: #FFECB3;
$google-amber-200: #FFE082;
$google-amber-300: #FFD54F;
$google-amber-400: #FFCA28;
$google-amber-500: #FFC107;
$google-amber-600: #FFB300;
$google-amber-700: #FFA000;
$google-amber-800: #FF8F00;
$google-amber-900: #FF6F00;
$google-amber-a100: #FFE57F;
$google-amber-a200: #FFD740;
$google-amber-a400: #FFC400;
$google-amber-a700: #FFAB00;
$google-amber: $google-amber-500;

$google-green-50: #E8F5E9;
$google-green-100: #C8E6C9;
$google-green-200: #A5D6A7;
$google-green-300: #81C784;
$google-green-400: #66BB6A;
$google-green-500: #4CAF50;
$google-green-600: #43A047;
$google-green-700: #388E3C;
$google-green-800: #2E7D32;
$google-green-900: #1B5E20;
$google-green-a100: #B9F6CA;
$google-green-a200: #69F0AE;
$google-green-a400: #00E676;
$google-green-a700: #00C853;
$google-green: $google-green-500;

$google-blue-grey-50: #ECEFF1;
$google-blue-grey-100: #CFD8DC;
$google-blue-grey-200: #B0BEC5;
$google-blue-grey-300: #90A4AE;
$google-blue-grey-400: #78909C;
$google-blue-grey-500: #607D8B;
$google-blue-grey-600: #546E7A;
$google-blue-grey-700: #455A64;
$google-blue-grey-800: #37474F;
$google-blue-grey-900: #263238;
$google-blue-grey: $google-blue-grey-500;

$google-grey-50: #FAFAFA;
$google-grey-100: #F5F5F5;
$google-grey-200: #EEEEEE;
$google-grey-300: #E0E0E0;
$google-grey-400: #BDBDBD;
$google-grey-500: #9E9E9E;
$google-grey-600: #757575;
$google-grey-700: #616161;
$google-grey-800: #424242;
$google-grey-900: #212121;
$google-grey: $google-grey-500;
