
$google-red-50:  #FFEBEE;
$google-red-100: #FFCDD2;
$google-red-200: #EF9A9A;
$google-red-300: #E57373;
$google-red-400: #EF5350;
$google-red-500: #F44336;
$google-red-600: #E53935;
$google-red-700: #D32F2F;
$google-red-800: #C62828;
$google-red-900: #B71C1C;
$google-red-A100: #FF8A80;
$google-red-A200: #FF5252;
$google-red-A400: #FF1744;
$google-red-A700: #D50000;
$google-red: $google-red-500;

$google-pink-50: #FCE4EC;
$google-pink-100: #F8BBD0;
$google-pink-200: #F48FB1;
$google-pink-300: #F06292;
$google-pink-400: #EC407A;
$google-pink-500: #E91E63;
$google-pink-600: #D81B60;
$google-pink-700: #C2185B;
$google-pink-800: #AD1457;
$google-pink-900: #880E4F;
$google-pink-A100: #FF80AB;
$google-pink-A200: #FF4081;
$google-pink-A400: #F50057;
$google-pink-A700: #C51162;
$google-pink: $google-pink-500;

$google-purple-50: #F3E5F5;
$google-purple-100: #E1BEE7;
$google-purple-200: #CE93D8;
$google-purple-300: #BA68C8;
$google-purple-400: #AB47BC;
$google-purple-500: #9C27B0;
$google-purple-600: #8E24AA;
$google-purple-700: #7B1FA2;
$google-purple-800: #6A1B9A;
$google-purple-900: #4A148C;
$google-purple-A100: #EA80FC;
$google-purple-A200: #E040FB;
$google-purple-A400: #D500F9;
$google-purple-A700: #AA00FF;
$google-purple: $google-purple-500;

$google-deep-purple-50: #EDE7F6;
$google-deep-purple-100: #D1C4E9;
$google-deep-purple-200: #B39DDB;
$google-deep-purple-300: #9575CD;
$google-deep-purple-400: #7E57C2;
$google-deep-purple-500: #673AB7;
$google-deep-purple-600: #5E35B1;
$google-deep-purple-700: #512DA8;
$google-deep-purple-800: #4527A0;
$google-deep-purple-900: #311B92;
$google-deep-purple-A100: #B388FF;
$google-deep-purple-A200: #7C4DFF;
$google-deep-purple-A400: #651FFF;
$google-deep-purple-A700: #6200EA;
$google-deep-purple: $google-deep-purple-500;

$google-indigo-50: #E8EAF6;
$google-indigo-100: #C5CAE9;
$google-indigo-200: #9FA8DA;
$google-indigo-300: #7986CB;
$google-indigo-400: #5C6BC0;
$google-indigo-500: #3F51B5;
$google-indigo-600: #3949AB;
$google-indigo-700: #303F9F;
$google-indigo-800: #283593;
$google-indigo-900: #1A237E;
$google-indigo-A100: #8C9EFF;
$google-indigo-A200: #536DFE;
$google-indigo-A400: #3D5AFE;
$google-indigo-A700: #304FFE;
$google-indigo: $google-indigo-500;

$google-blue-50: #E3F2FD;
$google-blue-100: #BBDEFB;
$google-blue-200: #90CAF9;
$google-blue-300: #64B5F6;
$google-blue-400: #42A5F5;
$google-blue-500: #2196F3;
$google-blue-600: #1E88E5;
$google-blue-700: #1976D2;
$google-blue-800: #1565C0;
$google-blue-900: #0D47A1;
$google-blue-A100: #82B1FF;
$google-blue-A200: #448AFF;
$google-blue-A400: #2979FF;
$google-blue-A700: #2962FF;
$google-blue: $google-blue-500;

$google-light-blue-50: #E1F5FE;
$google-light-blue-100: #B3E5FC;
$google-light-blue-200: #81D4FA;
$google-light-blue-300: #4FC3F7;
$google-light-blue-400: #29B6F6;
$google-light-blue-500: #03A9F4;
$google-light-blue-600: #039BE5;
$google-light-blue-700: #0288D1;
$google-light-blue-800: #0277BD;
$google-light-blue-900: #01579B;
$google-light-blue-A100: #80D8FF;
$google-light-blue-A200: #40C4FF;
$google-light-blue-A400: #00B0FF;
$google-light-blue-A700: #0091EA;
$google-light-blue: $google-light-blue-500;

$google-cyan-50: #E0F7FA;
$google-cyan-100: #B2EBF2;
$google-cyan-200: #80DEEA;
$google-cyan-300: #4DD0E1;
$google-cyan-400: #26C6DA;
$google-cyan-500: #00BCD4;
$google-cyan-600: #00ACC1;
$google-cyan-700: #0097A7;
$google-cyan-800: #00838F;
$google-cyan-900: #006064;
$google-cyan-A100: #84FFFF;
$google-cyan-A200: #18FFFF;
$google-cyan-A400: #00E5FF;
$google-cyan-A700: #00B8D4;
$google-cyan: $google-cyan-500;

$google-teal-50: #E0F2F1;
$google-teal-100: #B2DFDB;
$google-teal-200: #80CBC4;
$google-teal-300: #ADB6AC;
$google-teal-400: #26A69A;
$google-teal-500: #009688;
$google-teal-600: #00897B;
$google-teal-700: #00796B;
$google-teal-800: #00695C;
$google-teal-900: #004D40;
$google-teal-A100: #A7FFEB;
$google-teal-A200: #64FFDA;
$google-teal-A400: #1DE9B6;
$google-teal-A700: #00BFA5;
$google-teal: $google-teal-500;

$google-green-50: #E8F5E9;
$google-green-100: #C8E6C9;
$google-green-200: #A5D6A7;
$google-green-300: #81C784;
$google-green-400: #66BB6A;
$google-green-500: #4CAF50;
$google-green-600: #43A047;
$google-green-700: #388E3C;
$google-green-800: #2E7D32;
$google-green-900: #1B5E20;
$google-green-A100: #B9F6CA;
$google-green-A200: #69F0AE;
$google-green-A400: #00E676;
$google-green-A700: #00C853;
$google-green: $google-green-500;

$google-light-green-50: #F1F8E9;
$google-light-green-100: #DCEDC8;
$google-light-green-200: #C5E1A5;
$google-light-green-300: #AED581;
$google-light-green-400: #9CCC65;
$google-light-green-500: #8BC34A;
$google-light-green-600: #7CB342;
$google-light-green-700: #689F38;
$google-light-green-800: #558B2F;
$google-light-green-900: #33691E;
$google-light-green-A100: #CCFF90;
$google-light-green-A200: #B2FF59;
$google-light-green-A400: #76FF03;
$google-light-green-A700: #64DD17;
$google-light-green: $google-light-green-500;

$google-lime-50: #F9FBE7;
$google-lime-100: #F0F4C3;
$google-lime-200: #E6EE9C;
$google-lime-300: #DCE775;
$google-lime-400: #D4E157;
$google-lime-500: #CDDC39;
$google-lime-600: #C0CA33;
$google-lime-700: #AFB42B;
$google-lime-800: #9E9D24;
$google-lime-900: #827717;
$google-lime-A100: #F4FF81;
$google-lime-A200: #EEFF41;
$google-lime-A400: #C6FF00;
$google-lime-A700: #AEEA00;
$google-lime: $google-lime-500;

$google-yellow-50: #FFFDE7;
$google-yellow-100: #FFF9C4;
$google-yellow-200: #FFF59D;
$google-yellow-300: #FFF176;
$google-yellow-400: #FFEE58;
$google-yellow-500: #FFEB3B;
$google-yellow-600: #FDD835;
$google-yellow-700: #FBC02D;
$google-yellow-800: #F9A825;
$google-yellow-900: #F57F17;
$google-yellow-A100: #FFFF8D;
$google-yellow-A200: #FFFF00;
$google-yellow-A400: #FFEA00;
$google-yellow-A700: #FFD600;
$google-yellow: $google-yellow-500;

$google-amber-50: #FFF8E1;
$google-amber-100: #FFECB3;
$google-amber-200: #FFE082;
$google-amber-300: #FFD54F;
$google-amber-400: #FFCA28;
$google-amber-500: #FFC107;
$google-amber-600: #FFB300;
$google-amber-700: #FFA000;
$google-amber-800: #FF8F00;
$google-amber-900: #FF6F00;
$google-amber-A100: #FFE57F;
$google-amber-A200: #FFD740;
$google-amber-A400: #FFC400;
$google-amber-A700: #FFAB00;
$google-amber: $google-amber-500;

$google-orange-50: #FFF3E0;
$google-orange-100: #FFE0B2;
$google-orange-200: #FFCC80;
$google-orange-300: #FFB74D;
$google-orange-400: #FFA726;
$google-orange-500: #FF9800;
$google-orange-600: #FB8C00;
$google-orange-700: #F57C00;
$google-orange-800: #EF6C00;
$google-orange-900: #E65100;
$google-orange-A100: #FFD180;
$google-orange-A200: #FFAB40;
$google-orange-A400: #FF9100;
$google-orange-A700: #FF6D00;
$google-orange: $google-orange-500;

$google-deep-orange-50: #FBE9E7;
$google-deep-orange-100: #FFCCBC;
$google-deep-orange-200: #FFAB91;
$google-deep-orange-300: #FF8A65;
$google-deep-orange-400: #FF7043;
$google-deep-orange-500: #FF5722;
$google-deep-orange-600: #F4511E;
$google-deep-orange-700: #E64A19;
$google-deep-orange-800: #D84315;
$google-deep-orange-900: #BF360C;
$google-deep-orange-A100: #FF9E80;
$google-deep-orange-A200: #FF6E40;
$google-deep-orange-A400: #FF3D00;
$google-deep-orange-A700: #DD2C00;
$google-deep-orange: $google-deep-orange-500;

$google-brown-50: #EFEBE9;
$google-brown-100: #D7CCC8;
$google-brown-200: #BCAAA4;
$google-brown-300: #A1887F;
$google-brown-400: #8D6E63;
$google-brown-500: #795548;
$google-brown-600: #6D4C41;
$google-brown-700: #5D4037;
$google-brown-800: #4E342E;
$google-brown-900: #3E2723;
$google-brown: $google-brown-500;

$google-grey-50: #FAFAFA;
$google-grey-100: #F5F5F5;
$google-grey-200: #EEEEEE;
$google-grey-300: #E0E0E0;
$google-grey-400: #BDBDBD;
$google-grey-500: #9E9E9E;
$google-grey-600: #757575;
$google-grey-700: #616161;
$google-grey-800: #424242;
$google-grey-900: #212121;
$google-grey: $google-grey-500;

$google-blue-grey-50: #ECEFF1;
$google-blue-grey-100: #CFD8DC;
$google-blue-grey-200: #B0BEC5;
$google-blue-grey-300: #90A4AE;
$google-blue-grey-400: #78909C;
$google-blue-grey-500: #607D8B;
$google-blue-grey-600: #546E7A;
$google-blue-grey-700: #455A64;
$google-blue-grey-800: #37474F;
$google-blue-grey-900: #263238;
$google-blue-grey: $google-blue-grey-500;

$google-black: #000000;
$google-white: #FFFFFF;
