@import './google-colors';

.series-title-field {
  width: 14em;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.5em;
  border-bottom: 2px solid;

  transition: background-color 100ms;
  background-color: rgba($google-grey-100, 0.5);
  &:focus {
    background-color: $google-grey-300;
  }
}

.series-curator {
  display: inline-block;
  font-family: 'Roboto';
  font-weight: 500;

  input {
    width: 10em;
    border-bottom: 1px solid;

    transition: background-color 100ms;
    background-color: rgba($google-grey-100, 0.5);
    &:focus {
      background-color: $google-grey-300;
    }
  }
}

.weekday-input {
  display: inline-block;

  .button {
    display: inline-block;
    text-align: center;
    width: 1em;
    margin: 0.2em;
    padding: 0.2em;
    font-family: 'Roboto Mono';
    cursor: pointer;
    transition: background-color 100ms;
    background-color: rgba($google-grey-100, 0.5);
    &.active {
      background-color: $google-grey-500;
    }
  }
}
